pylibmc
django-pylibmc-sasl
Django
Mezzanine
Pillow
South
bleach
boto
dj-database-url
django-storages
filebrowser-safe
grappelli-safe
gunicorn
html5lib
mezzanine-flexipage
psycopg2
pytz
wsgiref
geopy
newrelic
